<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zejian.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 微信登录 -->
    <!-- QQ登录 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.BubbleActivity"></activity>
        <activity android:name=".view.xiedetextview.SlantTextActivity" />
        <activity android:name=".ui.CircularActivity" />
        <activity android:name=".ui.Main234Activity" />
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".ui.GoogleRocketActivity" />
        <activity
            android:name=".MotionActivity"
            android:label="@string/title_activity_motion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".swipecard.TanTanActivity" />
        <activity android:name=".pagerRefresh.PageRefreshActivity" />
        <activity
            android:name=".taluo.VP2Activity"
            android:configChanges="uiMode" />
        <activity
            android:name=".emoji.EmojiActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".Main2Activity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <service android:name=".ui.update.UpdateService" />
        <service android:name=".NotificationService" />
    </application>

</manifest>